{
margin: 0;
padding: 0;
}
.slide{
width: 100vw;
height: 100vw;
}

.wrapper{
display: flex;
flex-direction:row;
width: 600vw;
transform: rotate(90deg)translateY(-100vh);
transform-origin: top left;
}

.one{
background: #3B3B3B ;
}
.dos{
background: #a3f3d3;
}
.tres{
background: #0bbaa0;
}
.cuatro{
background: #00dfdf;
}
.cinco{
background: #683A68;
}



.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg)translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;

}

.rotacion{
   transform: rotate(90deg)translateX(110vh);
}
